body {
    padding: 0px;
    margin: 0px;
    background-color: black;
}

header {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header > .borda-inferior{
    align-items: end;
    justify-content: end;
}

.cabecalho {
    height: 60px;
    width: 100%;
    list-style: none;
    /* background:linear-gradient(50deg, rgba(0, 0, 0, 0.785) 40%  ) */
    background-image: url('./img/madeira.jpg');
}

.disfarce-cabecalho{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.573);
}

.login-texto-cabecalho {
    color: #dbdbdb;
    font-size: 50px;
    font-family: 'Times', 'Times New Roman', 'serif';
}

.estrutura {
    width: 100%;
    height: 673px;
    background-image: url('./img/mystery-shack-sunny-forest-gravity-falls-moewalls-com.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.disfarce-da-estrutura{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.438);
}

.dados-do-login{
    width: 540px;
    height: 540px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.132);
}

.borda-inferior{
    width: 100%;
    height: 60px;
    background-image: url('./img/madeira.jpg');
}

.disfarce-borda-inferior{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.573);
}

.text {
    color: #e9b33f;
    width: 100%;
}
