body{
    background-image: url('../img/fearamid2.webp');
}

.area-foto{
    background-image: url('../img/bill-cipher-demon-form.gif');
    background-position: 70%;
    opacity: 0.8;
}

.area-texto{
    background-image: url('../img/pentagrama-gravity-falls.gif');
    opacity: 0.6;
}

.area-texto {

    height: 500px;
    width: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    border-radius: 30px;

    margin-right: 30px;

    transition: 0.2s;

    font-size: 20px;
    color: rgb(194, 156, 84);
    overflow: hidden;
}

.area-texto:hover {
    height: 80%;
    width: 600px;
    transition: 0.7s;
    opacity: 0.8;
}
