body {
    padding: 0px;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    display: flex;
    flex-direction: column;
}

.cabecalho {
    height: 60px;
    width: 100%;
    list-style: none;
    display: flex;
    background-color: rgba(0, 0, 0, 0.745);
}


.primeira-parte-do-cabecalho {
    height: 100%;
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dbdbdb;
    font-size: 20px;
}

.botao-fora-de-destaque {
    height: 20px;
    width: 100px;
    justify-content: center;
    display: flex;
    font-size: 15px;
    color: #dbdbdb;
    text-decoration: none;
    transition: .35s;
}

.botao-fora-de-destaque:hover {
    background-color: rgba(194, 156, 84, 0.542);
    border-radius: 10px;
    font-size: 15px;
    transform: scale(1.3);
}

.segunda-parte-do-cabecalho {
    width: 230px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-fora-de-destaque-cabecalho {
    display: flex;
}

.botao-dentro-de-destaque {
    font-size: 40px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dbdbdb;
    text-decoration: none;
    border: none;
    font-family: 'Luminari', 'fantasy';
    background-color: rgba(240, 248, 255, 0);
    transition: .35s;

}

.botao-dentro-de-destaque:hover {
    background-color: rgba(194, 156, 84, 0.542);
    border-radius: 20px;
    transform: scale(0.9);
}

.terceira-parte-do-cabecalho{
    height: 100%;
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.estrutura {
    width: 100%;
    height: 673px;
}

.disfarce-da-estrutura {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.352);
}

.dados-do-login {
    width: 540px;
    height: 540px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.132);
}

.borda-inferior {
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.745);
}

.text {
    color: #e9b33f;
    width: 100%;
}